<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jwbook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>ch05.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryTestServlet</display-name>
    <servlet-name>QueryTestServlet</servlet-name>
    <servlet-class>ch05.QueryTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTestServlet</servlet-name>
    <url-pattern>/queryTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBBServlet</display-name>
    <servlet-name>GBBServlet</servlet-name>
    <servlet-class>ch05.GBBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBBServlet</servlet-name>
    <url-pattern>/GBBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBBServlet2</display-name>
    <servlet-name>GBBServlet2</servlet-name>
    <servlet-class>ch05.GBBServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBBServlet2</servlet-name>
    <url-pattern>/gbbServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBBPractice</display-name>
    <servlet-name>GBBPractice</servlet-name>
    <servlet-class>midterm_practice.GBBPractice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBBPractice</servlet-name>
    <url-pattern>/gbbPractice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcController</display-name>
    <servlet-name>CalcController</servlet-name>
    <servlet-class>ch09.CalcController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcController</servlet-name>
    <url-pattern>/calcControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>ch09_2.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/studentControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>miniProject.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/userControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameController</display-name>
    <servlet-name>GameController</servlet-name>
    <servlet-class>miniProject.GameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameController</servlet-name>
    <url-pattern>/gomokuControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumberGuessServlet</display-name>
    <servlet-name>NumberGuessServlet</servlet-name>
    <servlet-class>miniProject_GameEx.NumberGuessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberGuessServlet</servlet-name>
    <url-pattern>/numberGuess</url-pattern>
  </servlet-mapping>
</web-app>